.navbar-nav{
    font-size: 30px;
    color: black;
    background-color: rgba(180, 141, 104, 0.86);
    padding: 0.5%;
    vertical-align: top;
}
a:link, a:visited, a:active
{
    color: #000000;
    text-decoration: none;
}
li:hover{
    background-color: white;
}
li {
    display: inline;
    padding: 0.25%;
}
.login{
    position: absolute;
    right: 1%;
    top: 1.5%;
}

